.c-button{
    font-size: .875rem;
    padding: 0.5rem 0.875rem;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    &--blue{
        background: $button-bg-blue-color;
    }
    &--primary{
        background: $primary;
    }
}

